* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}
.currentPage{
    font-size: 3rem;
    cursor: default;
    font-weight: 800;
}
nav{
    height: 25vh;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 2.5rem 2.5rem 2.5rem;
    background-image: url(https://images.unsplash.com/photo-1586081467622-7acbbc73da3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80); */
    /* background-image: url(https://images.unsplash.com/photo-1460881680858-30d872d5b530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80); */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;    
}
nav a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 700;
}
#movieList{
    background-color: white;
    height: 75vh;
    /* display: flex; */
}
.initial-state{
    background-image: url(images/no-data-initial.png);
    background-position: center;
    background-repeat: no-repeat;
}
#no-data-state{
    text-align: center;
    font-size: 2rem;
    color: #DFDDDD;
    display: block;
    padding: 20%;    
}
#searchBar{
    width: 80%;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    margin: 0 auto;
    position: relative;
    top: -1.2rem;
    background: white;
}
#searchBtn{
    border-radius: 0 6px 6px 0;
    background-color: #D1D5DB;
    padding: 9px 11px 9px 17px;
    border: 1px solid #D1D5DB;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
#searchBtn:hover,
#searchBtn:focus{
    color: white;
    background-color: rgb(69, 69, 69);
}
#searchInput{
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
    width: 100%;
}
#searchBar div{
    display: flex;
    width: 80%;

}
article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}
article img{
    width: 100px;
    height: 150px;
}
.mHeading{
    display: flex;
    align-items: center;
}
article * {
    margin: 0;
}
.movieTitle{
    margin-right: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 75%;
}
.rating{
    font-weight: 400;
    font-size: .75rem;
}
.mPlot{
    font-weight: 400;
    font-size: 1rem;
}
.mData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .75rem;
    font-weight: 400;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.mContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addToWatchlist{
    border: none;
    background-color: white;
    font-weight: 400;
    font-size: .75rem;
    cursor: pointer;
}
.addToWatchlist i{
    font-size: 1rem;
    vertical-align: middle;
    padding-right: .25rem;
}