* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}
.currentPage{
    cursor: default;
}

nav{
    height: 20vh;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 2.5rem 2.5rem 2.5rem;
    background-image: url(https://images.unsplash.com/photo-1623475329493-889804e377f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2342&q=80);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;    
}
nav a{
    margin-left: 2rem;
    margin-right: 2rem;
}
#movieList{
    background-color: white;
    height: 65vh;
    margin-top: 2rem;
}
.initial-state{
    background-image: url(images/no-data-initial.png);
    background-position: center;
    background-repeat: no-repeat;
}
.no-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-data-state{
    max-width: 60%;
    text-align: center;
}

#searchBar{
    width: 80%;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    margin: 0 auto;
    position: relative;
    top: -1.2rem;
    background: white;
}
#searchBtn{
    border-radius: 0 6px 6px 0;
    background-color: #D1D5DB;
    padding: 9px 11px 9px 17px;
    border: 1px solid #D1D5DB;
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 100%;
}
#searchBtn:hover,
#searchBtn:focus{
    color: white;
    background-color: rgb(69, 69, 69);
}
#searchInput{
    border: none;
    padding-left: 1rem;
    width: 100%;
}
#searchInput:focus{
/* hide the outline when input has focus - it looks ugly */
    outline:none
}
#searchBar div{
    display: flex;
    width: 80%;
}
#resultInfo{
    margin: 0;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#paginationBtns{
    display: flex;
    width: 35%;
}
#pagination{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}
article img{
    width: 100px;
    height: 150px;
}
.mHeading{
    display: flex;
    align-items: center;
}
article * {
    margin: 0;
}
.movieTitle{
    margin-right: 2rem;
    max-width: 75%;
}
.mData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.mContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.watchlistBtn{
    border: none;
    background-color: white;
    cursor: pointer;
}
.watchlistBtn i{
    vertical-align: middle;
    padding-right: .25rem;
}
#btn-searchPage{
    font-size: 1.2rem;
    border: none;
    background: white;
    cursor: pointer;
    padding: 1.5rem;
    text-decoration: none;
    color: black;
}
#btn-searchPage:visited{
    text-decoration: none;
    color: black;
}
#btn-searchPage i{
    padding-right: .4rem;
    vertical-align: middle;
}

/* typography */
.watchlistBtn i{
    font-size: 1rem;
}
.smallLight{
    font-weight: 400;
    font-size: .75rem;
    font-family: 'Inter', sans-serif;
}
.large{
    font-size: 1.2rem;
    font-weight: 500;
}
.mPlot{
    font-size: 1rem;
    font-weight: 400;
}
#resultInfo{
    font-style: italic;
}
#searchInput{
    font-size: 1.1rem;
}
.currentPage{
    font-size: 3rem;
    font-weight: 800;
}
nav a{
    color: white;
    text-decoration: none;
}
.no-data-state{
    color: #DFDDDD;
    font-size: 2rem;
}
@media(max-width: 500px){
    html,
    body{
        font-size: 10px;
    }
    article{
        width: 90%;
    }
    .watchlistBtn i{
        font-size: 1.5rem;
    }
}